/* * {
    -webkit-transition: height 13s ease;
    -moz-transition: height 13s ease;
    -ms-transition: height 13s ease;
    -o-transition: height 13s ease;
    transition: height 13s ease;
} */

.rainbow {
    animation: rainbow 600ms;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: green;
    }
    60% {
        color: blue;
    }
    75% {
        color: indigo;
    }
    90% {
        color: purple;
    }
}


/* CSS for options <form> */


/* Include the padding and border in an element's total width and height */


/* 
* {
    box-sizing: border-box;
} */


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}


/* When clicked on, add a background color and strike out text */

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


/* Style the header */

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


/* Clear floats after the header */

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the input */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}


/* CHECKBOX */

.neumorphism-toggle {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.neumorphism-toggle:active {
    --scale: 0.96;
}

.neumorphism-toggle input {
    display: none;
}

.neumorphism-toggle input+label {
    background: #fff;
    border-radius: 9px;
    padding: 16px 0 16px 20px;
    min-width: 208px;
    display: block;
    cursor: pointer;
    position: relative;
    box-shadow: -12px -12px 24px var(--light-shadow, transparent), 12px 12px 24px var(--shadow, transparent);
    -webkit-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
}

.neumorphism-toggle input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(160deg, #f1f4ff, #f9faff);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.neumorphism-toggle input+label .switch {
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    height: 22px;
    width: 40px;
    border-radius: 11px;
    background: #eceffc;
}

.neumorphism-toggle input+label .switch:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#4f97ff), to(#275efe));
    background: linear-gradient(90deg, #4f97ff, #275efe);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.neumorphism-toggle input+label .switch .dot {
    background: #d1d6ee;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(var(--offset, 0));
    transform: translateX(var(--offset, 0));
    -webkit-transition: box-shadow 0.4s, -webkit-transform 0.4s;
    transition: box-shadow 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, box-shadow 0.4s;
    transition: transform 0.4s, box-shadow 0.4s, -webkit-transform 0.4s;
    box-shadow: -4px -4px 8px var(--light-shadow-2, transparent), 4px 4px 8px var(--shadow, transparent);
}

.neumorphism-toggle input+label .switch .dot:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(160deg, #f1f4ff, #f9faff);
    opacity: var(--gradient, 0);
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.neumorphism-toggle input+label span {
    line-height: 22px;
    font-size: 16px;
    color: var(--text, #646b8c);
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    position: relative;
    margin-left: 12px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.neumorphism-toggle input+label+span {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    font-size: 12px;
    font-weight: 500;
    color: #a6accd;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
    transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
}


/* .neumorphism-toggle input:not(:checked)+label {
    pointer-events: none;
} */

.neumorphism-toggle input:not(:checked)+label+span {
    opacity: 1;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

.neumorphism-toggle input:checked+label {
    --offset: 18px;
    --text: #404660;
    --gradient: 1;
    --shadow: rgba(0, 6, 39, 0.1);
    --light-shadow: rgba(255, 255, 255, 0.8);
    --light-shadow-2: rgba(255, 255, 255, 0.1);
}


/* 
* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Inter", "Inter UI", Arial;
    background: #f6f8ff;
} */